<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="cordova.js"></script>

    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.js"></script>

    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="RedditCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>

      <ion-content>
        <ion-refresher
          pulling-text="Pull to refresh..."
          on-refresh="cargarNuevosPosts()">
        </ion-refresher>

        <div ng-repeat="post in posts" class="list">
          <a href="{{post.url}}" target="_blank" class="item item-thumbnail-left">
            <img ng-src="{{post.thumbnail}}" ng-if="post.thumbnail.indexOf('http') === 0">
            <h2>{{post.title}}</h2>
            <p>
              <span am-time-ago="post.created_utc" am-preprocess="unix">
            </p>
            <p>{{post.domain}}</p>
          </a>
        </div>

        <ion-infinite-scroll
          on-infinite="cargarAntiguosPosts()"
          distance="1%">
        </ion-infinite-scroll>
      </ion-content>

    </ion-pane>
  </body>
</html>
